<!DOCTYPE html>
<html>
<head>
  <title>Supporter by Tyler Suzuki Nelson</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <h1>Supporter <small>by Tyler Suzuki Nelson</small></h1>

  <ul class="nav nav-tabs" style="margin-bottom: 25px; margin-top: 25px; ">
    <li role="presentation"<%= ' class="active"'.html_safe if session[:page_flag] == 'home_page' %>><%= link_to "Requests", requests_path %></li>
    <li role="presentation"<%= ' class="active"'.html_safe if session[:page_flag] == 'new_page' %>><%= link_to "Make New Request", new_request_path %></li>
    <% if session[:search_term] != '' %>
    <li role="presentation"<%= ' class="active"'.html_safe if session[:page_flag] == 'search_page' %>><%= link_to "Most Recent Search", requests_search_path %></li>
    <% end %>
    <span class="pull-right">
      <%= form_tag requests_search_path, :method => 'post' do %>
      <%= text_field_tag :search_term %>
      <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>
    </span>
  </ul>

<%= yield %>

</div>

</body>
</html>
